* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #55037d;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  position: absolute; 
  top: 15%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: #BCCBD8; 
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;  
}

.calculadora {
  display: inline;
  width: 300px;
  height: 422px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #BCCBD8;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #2a2d4f;
  text-align: center;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
}
  
.resultado {
  display: flex;
  height: 50px; 
  width: 280px;
  padding: 10px;
  margin: 4px auto 0 auto;
  color: #C8CFCD;
  font-size: 2rem;
  background-color: #606F7D;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  cursor: text;
}


.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  padding: 10px;
  margin: 0 auto;
  transition: background-color 0.3s;
}

@keyframes mudarCor {
  0% {
    background-color: #606F7D;
  }
  50% {
    background-color: #606F7D;
  }
  100% {
    background-color: #606F7D;
  }
}

.botoes button:active {
  animation: mudarCor 0.3s;
}

.botoes button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  margin: auto;  
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #484D50;
  cursor: pointer;
}

.exc {
  font-size: 1.5rem;
  background-color: #054F77;
  color: #C8CFCD;
  font-weight: 500;
}

.num {
  font-size: 1rem;
  background-color: #8E9DAB;
  font-weight: 500;
}

.simb {
  font-size: 1.5rem;
  background-color: #3b83bd;
  color: #C8CFCD;
  font-weight: bold;
}

.igual {
  grid-column: span 2;
  background-color: #738F80;
  color: #C8CFCD;
  font-size: 2rem;
  font-weight: bold;
}
